body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    background-color:antiquewhite;

}

button{
    position: absolute;
    bottom: 5%;
    border: none;
    background-color: rgb(201, 189, 176);
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.slideshow {
    position: relative;
    top: -50px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    border: 5px solid #000000;
    border-radius: 4px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 13s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 2.5s;
}

.slide:nth-child(3) {
    animation-delay: 5s;
}

.slide:nth-child(4) {
    animation-delay: 7.5s;
}

.slide:nth-child(5) {
    animation-delay: 10s;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    33% { opacity: 1; }
    43% { opacity: 0; }
    100% { opacity: 0; }
}